$family-primary: 'Lora';
$family-secondary: 'Merriweather';

@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
  height: 100%;
}

.primary-font {
  font-family: $family-primary;
}

.body-font {
  font-family: $family-secondary;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
